.popup{
  position: fixed;
  color: #000000;
  background: rgb(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  font-family: 'Inter';
  font-style: normal;
  z-index: 999;
}