.profile__edit-button{
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  border: 1px solid #FFFFFF;
  display: flex;
  align-self: center;
  /* border: solid red; */
  background-color: #000000;
  cursor: pointer;
  background: url(../../../images/edit.svg) center no-repeat;
}

.profile__edit-button:hover{
  opacity: 0.6;
}


@media screen and (max-width: 767px) {
  .profile__edit-button{
    width: 16px;
    height: 16px;
  }
}
