.header{
  box-sizing: border-box;
  padding: 45px 0 0;
  max-width: 880px;
  border-bottom: 1px solid #545454;
  height: 119px;
}

@media screen and (max-width: 1200px) {
  .header{
    padding: 45px 0 0;
  }
}

@media screen and (max-width: 1024px) {
  .header{
    max-width: 600px;
  }
}

@media screen and (max-width: 767px) {
  .header{
    padding: 28px 0 0;
    height: 76px;
  }
}