.profile__subtitle{
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  text-align: start;
  /* border: solid red; */
}

@media screen and (max-width: 900px) {
  .profile__subtitle{
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 767px) {
  .profile__subtitle{
    opacity: 0.2;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}