.profile__add-button{
  width: 146px;
  height: 46px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  display: flex;
}

.profile__add-button:hover{
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__add-button{
    width: calc(282px - 4px);
    margin-top: 32px;
  }
}