.profile__add-button{
  width: 146px;
  height: 46px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  display: flex;
}

@media screen and (max-width: 767px) {
  .profile__add-button{
    width: calc(282px - 4px);
  }
}