.popup__main-info{
  margin: 34px 36px 37px;
  max-width: 358px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .popup__main-info{
    max-width: 238px;
    margin: 25px 22px 25px 22px;
  }
}