.popup__close-button{
  position: fixed;
  width: 32px;
  height: 32px;
  margin-top: -35px;
  margin-left: 435px;
  flex-direction: column;
  cursor: pointer;
  border: none;
  background: url(../../../images/CloseIcon.svg) center no-repeat;
}

.popup__close-button:hover{
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__close-button{
    flex-direction: column;
    margin-left: calc(282px - 20px);
    width: 20px;
    height: 20px;
  }
}