.popup__submit-btn{
  margin-top: 48px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  max-width: 358px;
  height: 50px;
  background-color: #000000;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  border: none;
}

.popup__submit-btn:hover{
  opacity: 0.8;
}
