.popup__submit-btn{
  margin-top: 48px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  width: 358px;
  height: 50px;
  background-color: #000000;
  border-radius: 2px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  transition: opacity 0.5s;
}

.popup__submit-btn:hover{
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .popup__submit-btn{
    margin-top: 45px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    width: 238px;
  }
}